@using Library.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ArticleContent
@{
	Layout = null;
	var contentId = @Model.Id;
}
<div class="panel-heading collapsed" role="tab" id="headingText_@contentId" data-toggle="collapse" data-target="#collapseText_@contentId">

	<div class="dragHandle">:::</div>
	<div class="row no-gutter">
		<div class="col-xs-1 col-md-1">
			<h4 class="panel-title">@Model.Action</h4>
		</div>
		<div class="col-xs-8 col-md-8">
			<h4 class="panel-title">
				<a href="#collapseText_@contentId" aria-expanded="true" aria-controls="collapseText_@contentId">
					@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
				</a>
			</h4>
		</div>
		<div class="col-xs-3 col-md-3">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						@Localizer["Options"]
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a href="#">@Localizer["NotAvailable"]</a></li>
					</ul>
				</div>
				<button type="button" class="btn btn-default glyphicon glyphicon-trash"></button>
			</div>
		</div>
	</div>
</div>