@using Library.Models
@using System.Text.RegularExpressions
@model FieldsModel
@{
    Layout = null;
    var name = new Regex("[\\s_-]").Replace(Model.Label, "");
}

<div class="form-group">
    <label for="input_@(name)">@Model.Label</label>
    <textarea type="@Model.Type" name="@name" id="input_@(name)" title="@Model.Label" placeholder="@Model.PlaceHolder" pattern="@Model.Pattern" tabindex="@Model.TabIndex" autocomplete="off" class="form-control" @(Model.AutoFocus ? "autofocus" : "") @(Model.Required ? "required" : "")>
        @Model.Value
    </textarea>
</div>

