@using Library.Repositories
@using Library.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Collections.Generic
@inject ConfigRepository Config
@inject IViewLocalizer Localizer
@model List<SectionModel>
@{
	Layout = null;
	var config = Config.GetConfig();
}

<aside class="content-@ViewBag.Action.ToLower()">
@foreach(var item in Model)
{
	<section>
		@if(item.Image != null)
		{
		<figure>
			<img src="~/templates/@config.Path/images/@item.Image" alt="@item.Title"/>
		</figure>
		}
		<header>
			<h2>
				@item.Title
			</h2>
		</header>
		<p>
			@item.Text
		</p>
		@if(item.Link != null)
		{
		<footer>
			<a href="@item.Link.Url" title="@item.Title" target="@item.Link.Target" class="btn btn-primary">@item.Link.Title</a>
		</footer>
		}
	</section>
}
</aside>